##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [50]:
# untuk membuat variabel kosong, kita dapat mengisinya dengan None
name = None
name

2. > Create a variable containing your name (Points : 5)

In [51]:
# mengisi variabel name dengan isi berupa nama saya yaitu Nurida Larasati
name = "Nurida Larasati"
name

'Nurida Larasati'

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [52]:
# membuat list dengan variabel classroom yang berisi 5 benda yang bisa ditemukan dikelas
# list menggunakan square brackets untuk menyimpan elemennya
classroom = ['book', 'pencil', 'desk', 'table', 'whiteboard']
classroom

['book', 'pencil', 'desk', 'table', 'whiteboard']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [53]:
# membuat dictionary dengan variabel member
# key yang dibuat adalah name dan role
# masing-masing key memiliki value yaitu
# name dengan value dian dan role dengan value sage
member = {
    'name' : 'dian',
    'role' : 'sage'
}
member

{'name': 'dian', 'role': 'sage'}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [54]:
# membuat variabel price berisi integer 12000
price = 12000
# membuat variabel quantity_sold berisi integer 20
quantity_sold = 20
# membuat variabel discount berisi integer 0.1
discount = 0.1

# menghitung total sebelum diskon dengan perkalian price dikali quantity_sold
total = price * quantity_sold
# menghitung final_pay dengan total dikali 1 yang dikurangi diskon
final_pay = total * (1-discount)
print( 'the total money that the customer to pay',final_pay)

the total money that the customer to pay 216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [55]:
# Create list of countries in the world (total 7 countries) (Points : 5)

# membuat list variabel negara berisi element 7 negara
negara = ['jepang', 'korea', 'indonesia', 'singapur', 'australia', 'malaysia', 'laos']

In [56]:
# Get 4 countries from the first index of the list (Points : 5)

# menggunakan negara[:4] untuk mengembalikan urutan elemen di dalam list 
# dimulai dari elemen indeks 0 hingga indeks 3 (indeks ke-4 tidak termasuk). 
negara[:4]

['jepang', 'korea', 'indonesia', 'singapur']

In [57]:
# Append new country to the list (Points : 5)

# menggunakan fungsi append untuk menambahkan element baru 'amerika' pada list negara
negara.append('amerika')
negara

['jepang',
 'korea',
 'indonesia',
 'singapur',
 'australia',
 'malaysia',
 'laos',
 'amerika']

In [58]:
# Drop one country from the list (Points : 5)

# menggunakan fungsi remove untuk menghapus element 'jepang' pada list negara
negara.remove('jepang')
negara

['korea', 'indonesia', 'singapur', 'australia', 'malaysia', 'laos', 'amerika']

In [59]:
# Get country in the last index (Points : 5)

# menggunakan negara[-1:] untuk mengembalikan urutan elemen didalam list
# dimulai dari index terakhir
negara[-1:]

['amerika']

# Dictionary Data Operation

6. >  Follow the instructions below

In [60]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [61]:
# Print all keys in customer (Points : 5)

customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'age': [20, 19, 24, 39],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [62]:
# Print all customer names (Points : 5)

# mengembalikan value dari key 'name' dengan kode dibawah ini
customer['name']

['Dio', 'Eka', 'Wayu', 'Riki']

In [63]:
# Print the first customer name (Points : 5)

# menggunakan key 'name' pada index ke 1 untuk mengembalikan nama customer pertama
customer['name'][0]

'Dio'

In [64]:
# Drop "age" key from the dictionary (Points : 5)

# menggunakan fungsi pop untuk menghilangkan key 'age' pada dictionary customer
# mengganti value dengan None
customer.pop('age',None)
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [65]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


# membuat fungsi untuk mengganti value pada key 'gender'
def change_gender(gender):
    # apabila gender memiliki value 1 maka mengembalikan 'Male'
    if gender == 1:
        return 'Male'
    # apabila gender memiliki value 1 maka mengembalikan 'Female'
    else:
        return 'Female'

# mengganti key 'gender' dengan list baru
# menggunakan fungsi map untuk menggunakan fungsi change_gender yang dibuat sebelumnya
customer['gender'] = list(map(change_gender, customer['gender']))
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}